<section class="content-header">
    <div id="top-alert" style="display:none">
    </div>
    <h1 id="title-content">
        {{.title}}
    </h1>
</section>
<section class="content">
    <form 
    {{if .r }}
    
    {{else }}
    action="/location/depart"
    {{end}}
     autocomplete="off" onsubmit="return false;"  id="depart-form" method="post">
        {{ .xsrfdata }}
        
        <input type="hidden" id="depart-id" name="ID" value="{{.data.ID}}" />
        <input type="hidden" id="branch-id" name="Branch.ID" value="{{.data.Branch.ID}}" />
        <div id="box-req" class="box box-primary">
            <div class="box-header ui-sortable-handle">
                <h4 class="box-title  req-box-title ">รายละเอียด </h4>
            </div>
            <div class="box-body">
                <div class="form-group req-box-form">
                    <div class="col-xs-12">
                        <label for="req-name">สาขา</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-bank"></i>
                            </span>
                            <input type="text" id="req-branch"   class="form-control has-query" 
                            autocomplete="off" {{.r}} placeholder="สาขา...." value="{{.data.Branch.Name}}">
                        </div>
                    </div>
                </div>
                <div class="form-group req-box-form"  >
                    <div class="col-xs-12">
                        <label for="req-date-event">ชื่อแผนก</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-file-text-o"></i>
                            </span>
                            <input type="text"  id="Name" required name="Name"    class="form-control" 
                            autocomplete="off" {{.r}} placeholder="แผนก...." value="{{.data.Name}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                {{if .r}} {{else}}
                <button type="submit" onclick="Save()" class="btn btn-primary pull-right">บันทึก</button>
                <a href="/location/depart/list" class="btn btn-default pull-right" style="margin-right:3px;">ยกเลิก</a>
                {{end}}
            </div>
        </div>
    </form>
</section>
 