<script src="/static/js/bootstrap-typeahead.js" charset="UTF-8"></script>
<script>
    
    $(document).ready(function () {
        var $editOveray = $('#editOveray');
        $('#ret-table').on("click", "tbody > tr", function (index) {
            var bottomWidth = $(this).css('width');
            var intWidth = parseInt(bottomWidth.replace("px", ""));
            var bottomHeight = '40px';
            var rowPos = $(this).position();
            bottomTop = rowPos.top;
            bottomLeft = rowPos.left;
            eTop = $(this).offset().top + 7;
            $editOveray.css({
                position: 'absolute',
                top: eTop,
                width: (intWidth - 15) + 'px',
                height: bottomHeight,
            });
            $("#current-row").val($(this).attr("index-val"));
            $("#item-id").val($(this).find(".product-id").val());
            $("#item-code").val($(this).find(".product-code").val());
            $("#item-name").val($(this).find(".product-name").val());
            $("#unit-code").val($(this).find(".product-unit-code").val());
            $("#unit-name").val($(this).find(".product-unit-name").val());
            $("#qty").val($(this).find(".product-qty").val());
            $("#price").val($(this).find(".product-price").val());
            $editOveray.show();
        })
        $editOveray.mouseleave(function () {
            //$editOveray.hide();
        });
        $("#sn-toggle").click(function(){
            $("#sn-scan").toggle();
            $editOveray.hide();
        });
        
        $(".cancel-edit-row").click(function (event) {
            $editOveray.hide();
        });
        $(".ok-edit-row").click(function (event) {
            $editOveray.hide();
        });        
        var templateRow = `<tr  style="cursor: pointer;" index-val="@">
                                <input type="hidden" class="product-id" name="Product[@].ID" value="" /> 
                                <input type="hidden" class="product-code" name="Product[@].Code" value="" />     
                                <input type="hidden" class="product-name" name="Product[@].Name" value="" />
                                <input type="hidden" class="product-unit-code" name="Product[@].Unit.ID" value="" />
                                <input type="hidden" class="product-unit-name" name="Product[@].Unit.Name" value="" /> 
                                <input type="hidden" class="product-qty" name="Product[@].Qty" value="" />
                                <input type="hidden" class="product-price" name="Product[@].Price" value="" />
                                <input type="hidden" class="product-total-price" name="Product[@].TotalPrice" value="" />

                                <td class="col-md-2 table-td-mid product-code-text"  ></td>
                                <td class="col-md-3 table-td-mid product-name-text" ></td>
                                <td class="col-md-1 table-td-mid table-td-center-text product-unit-name-text"  ></td>
                                <td class="col-md-1 table-td-mid table-td-number product-qty-text"  >
                                    0.00
                                </td>
                                <td class="col-md-2 table-td-mid table-td-number product-price-text"  >
                                    0.00
                                </td>
                                <td class="col-md-2 table-td-mid table-td-number product-total-price-text"  >
                                    0.00
                                </td>
                                <td class="col-md-1 table-td-mid table-td-number"  >
                                    <div class="btn-group">
                                        <a class="btn btn-danger btn-flat btn-flat btn-sm delete-row">
                                            <i class="fa  fa-close"></i>
                                        </a>
                                    </div>
                                </td>
                         </tr>`;
        for (i = 0; i <= 3; i++) {
            appendRow(i);
        }
        $(".delete-row").click(function (event) {
            deleteRow($(this));
        });
        $(".add-row").click(function (event) {
            var rowCount = $('#ret-data tr').length;
            appendRow(rowCount);
            $(".delete-row").click(function (event) {
                deleteRow($(this));
                $editOveray.hide();
            });
        });
        function appendRow(index) {
            $('#ret-data').append(templateRow.replace(/@/g, index));
        }
        function deleteRow(buttonRow) {
            buttonRow.parent().parent().parent().remove();
            $editOveray.hide();
            $("#ret-data tr").each(function (index) {
                $(this).attr("index-val", index);
                $(this).find(".product-id").attr("name", "Product[" + index + "].ID");
                $(this).find(".product-code").attr("name", "Product[" + index + "].Code");
                $(this).find(".product-name").attr("name", "Product[" + index + "].Name");
                $(this).find(".product-unit-code").attr("name", "Product[" + index + "].Unit.ID");
                $(this).find(".product-unit-name").attr("name", "Product[" + index + "].Unit.Name");
                $(this).find(".product-qty").attr("name", "Product[" + index + "].Qty");
                $(this).find(".product-price").attr("name", "Product[" + index + "].Price");
                $(this).find(".product-total-price").attr("name", "Product[" + index + "].TotalPrice");
            });            
        }
        
        $('#item-code').typeahead({
            ajax: '/service/user-list/json/?entity=users',
            display: 'Name',
            displayField: 'Name',
            valueField: 'ID',
            val: 'ID',
            onSelect: function (data) {
                //console.log(parseInt($("#current-row").val()));
                var tr = $("#ret-data").find('tr').eq(parseInt($("#current-row").val()));
                //tr.find(".product-code").val(data.value);
                //tr.find(".product-code-text").text(data.text);
                // tr.find(".product-name").attr("name", "Product[" + index + "].Name");
                // tr.find(".product-unit-code").attr("name", "Product[" + index + "].UnitCode");
                // tr.find(".product-unit-name").attr("name", "Product[" + index + "].UnitName");
                // tr.find(".product-qty").attr("name", "Product[" + index + "].Qty");
                // tr.find(".product-price").attr("name", "Product[" + index + "].Price");
                // tr.find(".product-total-price").attr("name", "Product[" + index + "].TotalPrice");
            }
        });
        
    });
</script>