<section class="content-header">
    <div id="top-alert" style="display:none">
    </div>
    <h1 id="title-content">
        {{.title}}
    </h1>
</section>
<section class="content">
    <form action="/create-receive" autocomplete="off" id="rec-form" method="post">
        {{ .xsrfdata }}
        
        <input type="hidden" id="current-row" />
        <input type="hidden" id="sup-id" name="Suplier.ID" />
        <input type="hidden" id="proj-id" name="Project.ID" />

        <div id="box-req" class="box box-primary">
            <div class="box-header ui-sortable-handle">
                <h4 class="box-title  req-box-title ">รายละเอียด
                    <span style="font-size:12px; color:red;">**ใบรับนี้ ไม่ใช่เอกสารทางบัญชี จึงมีแค่ราคา เพื่อให้รู้มูลค่า ของอุปกรณ์หรืออะไหล่เท่านั้น </span>
                </h4>
            </div>
            <div class="box-body">
                <div class="form-group req-box-form">
                    <div class="col-xs-12">
                        <label for="req-name">ผู้จำหน่าย</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <input type="text" id="sup-name" name="Suplier.Name" class="form-control has-query" autocomplete="off" placeholder="ผู้จำหน่าย...."
                                value="">
                        </div>
                    </div>
                </div>
                <div class="form-group req-box-form">
                    <div class="col-xs-8">
                        <label for="req-date-event">เลขที่เอกสาร</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-file-o"></i>
                            </span>
                            <input type="text" id="rec-doc" name="DocNo" class="form-control" autocomplete="off"   placeholder="ปล่อยว่างเพื่อสร้างอัตโนมัติ">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <label for="req-sn">วันที่</label>
                        <div class="input-group">

                            <span class="input-group-addon">
                                <i class="fa fa-calculator"></i>
                            </span>
                            <input type="text" id="rec-date" data-date-language="th" name="DocDate" class="form-control"  
                                placeholder="....">
                        </div>
                    </div>
                </div>
                <div class="form-group req-box-form">
                    <div class="col-xs-8">
                        <label for="req-sn">เอกสารอ้างอิง</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa  fa-file-text-o"></i>
                            </span>
                            <input type="text" id="rec-doc-ref" name="DocRefNo" class="form-control" autocomplete="off"  
                                 placeholder="เอกสารอ้างอิง">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <label for="req-date-event">โปรเจค</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-tags"></i>
                            </span>
                            <input type="text" id="rec-name" data-date-language="th" name="Project.Name" class="form-control"  
                                placeholder="....">
                        </div>
                    </div>
                </div>
                <h4 class="req-box-title">เครื่องมือ/อุปกรณ์/อะไหล่</h4>
                <div class="form-group req-box-form">
                    <div class="col-xs-12">
                        <table class="table" id="ret-table">
                            <thead>
                                <tr>
                                    <th class="col-md-2 col-md-2-table">รหัส</th>
                                    <th class="col-md-3 col-md-3-table">ชื่อ</th>
                                    <th class="col-md-1 col-md-1-table" style="text-align:center;">หน่วย</th>
                                    <th class="col-md-1 col-md-1-table" style="text-align:right;">จำนวน</th>
                                    <th class="col-md-2 col-md-2-table" style="text-align:right;">ราคา:หน่วย</th>
                                    <th class="col-md-2 col-md-2-table" style="text-align:right;">รวม</th>
                                    <th class="col-md-1 col-md-1-table"></th>
                                </tr>
                            </thead>
                            <tbody class="table-bordered table-condensed" id="ret-data">

                            </tbody>
                            <tfoot class="table-bordered table-condensed">
                                <tr>
                                    <th><button type="button" class="btn btn-success add-row">เพิ่ม</button></th>
                                    <th colspan="4" style="text-align:right;">รวมทั้งหมด</th>
                                    <th class="col-md-2" style="text-align:right;" id="total-text">0.00</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="form-group req-box-form">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>หมายเหตุ</label>
                            <textarea class="form-control"  id="remark" name="Remark" rows="4" placeholder="หมายเหตุ"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                {{if .r}} {{else}}
                <button type="submit" class="btn btn-lg btn-primary pull-right">บันทึก</button>
                {{end}}
            </div>
        </div>
        <div class="col-xs-11" id="editOveray">
            <div class="col-md-2">
                <input type="text" id="item-code" name="item-code" class="form-control has-query" autocomplete="off" placeholder="รหัส/Serial Number">
                <input type="hidden" id="item-id" name="item-id" class="form-control has-query" autocomplete="off" placeholder="รหัส/Serial Number">
            </div>
            <div class="col-md-3">
                <input type="text" id="item-name" name="item-name" class="form-control has-query" autocomplete="off" placeholder="่ชื่อ">
            </div>
            <div class="col-md-1">
                <input type="hidden" tabindex="-1" id="unit-code" name="unit-code" class="form-control" style="text-align:center;" readonly
                    autocomplete="off" placeholder="หน่วย">
                <input type="text" tabindex="-1" id="unit-name" name="unit-name" class="form-control" style="text-align:center;" readonly
                    autocomplete="off" placeholder="หน่วย">
            </div>
            <div class="col-md-2">
                <input type="number" id="qty" name="qty" class="form-control" style="text-align: right;" autocomplete="off" placeholder="จำนวน">
            </div>
            <div class="col-md-4">
                <div class="input-group ">
                    <input type="number" id="price" name="price" class="form-control" style="text-align: right;" placeholder="ราคา">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-success ok-edit-row">ตกลง</button>
                        <button type="button" class="btn btn-default cancel-edit-row">ยกเลิก</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
</section>