<section class="content-header">
    <div id="top-alert" style="display:none">
    </div>
    <h1 id="title-content">
        {{.title}}
    </h1>
</section>
<section class="content">
    <form action="/create-supplier" autocomplete="off" onsubmit="return false;"  id="sub-form" method="post">
        {{ .xsrfdata }}
        
        <input type="hidden" id="sup-id" name="ID" value="{{.data.ID}}" />
        <div id="box-req" class="box box-primary">
            <div class="box-header ui-sortable-handle">
                <h4 class="box-title  req-box-title ">รายละเอียด </h4>
            </div>
            <div class="box-body">
                <div class="form-group req-box-form">
                    <div class="col-xs-12">
                        <label for="req-name">ชื่อ</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <input type="text" id="sup-name" required name="Name" class="form-control" autocomplete="off" placeholder="ชื่อ...." value="{{.data.Name}}">
                        </div>
                    </div>
                </div>
                <div class="form-group req-box-form" style="margin-bottom:50px;">
                    <div class="col-xs-12">
                        <label for="req-date-event">ที่อยู่</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-file-text-o"></i>
                            </span>
                            <textarea class="form-control"  id="address" required name="Address" rows="3" placeholder="ที่อยู่....">{{.data.Address}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group req-box-form">
                    <div class="col-xs-6">
                        <label for="req-sn">จังหวัด</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-location-arrow"></i>
                            </span>
                            <select id="province" name="Province.ID"  class="form-control">
                                    {{range $key, $val := .Province}}
                                        <option value="{{$val.ID}}" > {{$val.Name}} </option>
                                    {{end}}   
                        </select>   
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <label for="req-date-event">รหัสไปรษณีย์</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-location-arrow"></i>
                            </span>
                            <input type="text" id="post-code"  required name="PostCode" class="form-control"   maxlength="5"
                              value="{{.data.PostCode}}"   placeholder="รหัสไปรษณีย์">
                        </div>
                    </div>
                </div>
                <div class="form-group req-box-form">
                    <div class="col-xs-6">
                        <label for="req-sn">ผู้ติดต่อ</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-book"></i>
                            </span>
                            <input type="text" id="contact" required  name="Contact" class="form-control" autocomplete="off"  
                            value="{{.data.Contact}}"   placeholder="ผู้ติดต่อ">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <label for="req-date-event">โทรศัพท์</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </span>
                            <input type="text" id="tel"  required name="Tel" class="form-control"    
                            value="{{.data.Tel}}"  placeholder="โทรศัพท์">
                        </div>
                    </div>
                </div>
                <div class="form-group req-box-form"  >
                    <div class="col-xs-12">
                        <label for="req-date-event">หมายเหตุ</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-align-left"></i>
                            </span>
                            <textarea class="form-control"  id="remark" name="Remark" rows="3" placeholder="หมายเหตุ">{{.data.Remark}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                {{if .r}} {{else}}
                <button type="submit" onclick="Save()" class="btn btn-primary pull-right">บันทึก</button>
                {{end}}
            </div>
        </div>
    </form>
</section>
 