<form class="form-horizontal" id="normal-add-form" action="/entity/{{.entity}}" method="post">
    <div class="alert alert-danger fade in no-margin" style="display:none" id="normal-alert"></div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{.title}}</h4>
    </div>
    <div class="modal-body">
        <input type="hidden" id="narmal-id" value="{{.id}}">
        <div class="box-body">
            <div class="form-group">
                <label   class="col-sm-2 control-label">รหัส</label>
                <div class="col-sm-8 input-group input-group-sm">
                    <input type="text" class="form-control" name="normal-code" id="normal-code" required maxlength="20" value="{{.code}}" >
                    <div class="input-group-btn">
                        <button type="button" id="btn-gen-code"  class="btn btn-default " entity={{.entity}} ><i class="fa fa-legal"></i>  </button>
                    </div>
                </div>
            </div>
            <div></div>
            <div class="form-group">
                <label   class="col-sm-2 control-label">ชื่อ</label>
                <div class="col-sm-8 input-group input-group-sm">
                    <input type="text" class="form-control" required maxlength="255" name="normal-name" id="normal-name"  >
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> ปิด </button>
        <button type="button" class="btn btn-primary">
            <i class="fa fa-save"></i> บันทึกข้อมูล</button>
    </div>
</form>
<script>
   $('#btn-gen-code').click(function(){
      $('#normal-code').addClass('load-text');
        $.get( "/normal/max/?entity="+ $(this).attr("entity") , function( data ) {
           $('#normal-code').val(data.RetData);
           $('#normal-code').removeClass('load-text');
         });
   
     })
</script>