<script src="/static/js/datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/static/js/datepicker/locales/bootstrap-datepicker.th.min.js" charset="UTF-8"></script>
<script src="/static/js/bootstrap-typeahead.js" charset="UTF-8"></script>
<script>
    $(function () {

        $(".title-toggle").click(function(){
            $(this).find("i").toggleClass("fa-eye fa-eye-slash");
            $("."+$(this).attr("target-toggle")).toggle("display");
        });

        var templateRow = `<tr  style="cursor: pointer;" index-val="@">
                                <input type="hidden" class="item-user-id" name="ActionUser[@].ActionUser.ID" value="" /> 
                                <input type="hidden" class="item-user-name" name="ActionUser[@].ActionUser.Name" value="" />
                                <td class="col-md-9 table-td-mid item-user-text"  > 
                                   
                                </td>
                                <td class="col-md-3 table-td-mid table-td-number"  >
                                    <div class="btn-group">
                                        
                                    </div>
                                </td>
                         </tr>`;
        function totalText(){
            console.log("AAA")
            var Total = 0;
            $("#ret-data tr").each(function (index) {
                console.log("AAA")
                if($(this).find(".item-user-id").val()!=""){
                    Total+=1;
                }                 
            }); 
            $("#total").html("รวมทั้งหมด "+  Total +" คน");  
        }

        {{if .user_len}}
           totalText();
        {{else}}
        if ($("#action-number").val() != "" && $("#action-number").val() != "0") {
            for (i = 0; i < parseInt($("#action-number").val()); i++) {
                appendRow(i);
            }
            totalText();  
        }
        if ($("#action-number").val() == "" || $("#action-number").val() == "0") {
            for (i = 0; i <= 3; i++) {
                appendRow(i);
            }
            totalText(); 
        }
        {{end}}
        
        function appendRow(index) {
            $('#ret-data').append(templateRow.replace(/@/g, index));
        }
         
        $('#req-date,#req-date-event,#req-date-appointment,#req-date-goal,#req-date-action,#req-date-complete').datepicker({
            autoclose: true,
            language: 'th',
            todayBtn: true,
            orientation: "auto",
            todayHighlight: true,
            format: 'dd-mm-yyyy',
        });
        $('#req-time-event,#req-time,#req-time-appointment,#req-time-goal,#req-time-action,#req-time-complete').timepicker({
            minuteStep: 1,
            disableFocus: true,
            template: 'dropdown',
            orientation: "auto",
            showMeridian:false,
            defaultTime: 'empty'
         });  
    });
    function Clear() {
        $('#req-doc-id').val('');

        $('#req-name').val('');
        $('#req-name').removeClass('check-text');
        $('#req-name-id').val('');

        $('#req-tel').val('')
        $('#req-tel').val('');
        $('#req-tel').removeClass('check-text');

        $('#req-branch').val('');
        $('#req-branch').removeClass('check-text');
        $('#req-branch-id').val('');

        $('#req-depart').val('');
        $('#req-depart').removeClass('check-text');
        $('#req-depart-id').val('');

        $('#req-building').val('');
        $('#req-building').removeClass('check-text');
        $('#req-building-id').val('');

        $('#req-class').val('');
        $('#req-class').removeClass('check-text');
        $('#req-class-id').val('');

        $('#req-room').val('');
        $('#req-room').removeClass('check-text');
        $('#req-room-id').val('');

        $('#req-sn').val('');
        $('#req-sn').removeClass('check-text');

        $('#remark').val('');
    }
</script>
