<script src="/static/js/datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/static/js/datepicker/locales/bootstrap-datepicker.th.min.js" charset="UTF-8"></script>
<script src="/static/js/bootstrap-typeahead.js" charset="UTF-8"></script>
<script>
    $(function () {

        $(".title-toggle").click(function(){
            $(this).find("i").toggleClass("fa-eye fa-eye-slash");
            $("."+$(this).attr("target-toggle")).toggle("display");
        });

        var $editOveray = $('#editOveray');
        $editOveray.hide();
        $('#ret-table').on("click", "tbody > tr", function (index) {
            var bottomWidth = $(this).css('width');
            var intWidth = parseInt(bottomWidth.replace("px", ""));
            var bottomHeight = '40px';
            var rowPos = $(this).position();
            bottomTop = rowPos.top;
            bottomLeft = rowPos.left;
            eTop = $(this).offset().top + 7;
            $editOveray.css({
                position: 'absolute',
                top: eTop,
                width: (intWidth - 15) + 'px',
                height: bottomHeight,
            });
            $("#current-row").val($(this).attr("index-val"));
            $("#item-user-edit").val($(this).find(".item-user-name").val());
            $("#item-user-edit-id").val($(this).find(".item-user-id").val());
            $editOveray.show();
        })
        $editOveray.mouseleave(function () {
           
        });

        $(".cancel-edit-row").click(function (event) {
            $editOveray.hide();
        });
        $(".ok-edit-row").click(function (event) {
            var index  =  $("#current-row").val();
            $('#ret-data > tr').eq(index).find(".item-user-id").val($('#item-user-edit-id').val());
            $('#ret-data > tr').eq(index).find(".item-user-name").val($('#item-user-edit').val());
            $('#ret-data > tr').eq(index).find(".item-user-text").html($('#item-user-edit').val());
            $editOveray.hide();
        });   

        var templateRow = `<tr  style="cursor: pointer;" index-val="@">
                                <input type="hidden" class="item-user-id" name="ActionUser[@].ActionUser.ID" value="" /> 
                                <input type="hidden" class="item-user-name" name="ActionUser[@].ActionUser.Name" value="" />
                                <td class="col-md-9 table-td-mid item-user-text"  > 
                                   
                                </td>
                                <td class="col-md-3 table-td-mid table-td-number"  >
                                    <div class="btn-group">
                                        <a class="btn btn-danger btn-flat btn-flat btn-sm delete-row">
                                            <i class="fa  fa-close"></i>
                                        </a>
                                    </div>
                                </td>
                         </tr>`;
        function totalText(){
            $("#total").html("รวมทั้งหมด "+  $("#ret-data tr").length +" คน");   
        }

        {{if .user_len}}
        totalText();
        {{else}}
        if ($("#action-number").val() != "" && $("#action-number").val() != "0") {
            for (i = 0; i < parseInt($("#action-number").val()); i++) {
                appendRow(i);
            }
            totalText();  
        }
        if ($("#action-number").val() == "" || $("#action-number").val() == "0") {
            for (i = 0; i <= 3; i++) {
                appendRow(i);
            }
            totalText(); 
        }
        {{end}}
        
        $(".delete-row").click(function (event) {
            deleteRow($(this));
            totalText();
        });
        $(".add-row").click(function (event) {
            var rowCount = $('#ret-data tr').length;
            if(rowCount == parseInt($("#action-number").val()) && $("#action-number").val() != "0")
              return;
            appendRow(rowCount);
            $(".delete-row").click(function (event) {
                deleteRow($(this));
                $editOveray.hide();
            });
            totalText();
        });
        function appendRow(index) {
            $('#ret-data').append(templateRow.replace(/@/g, index));
        }
        function deleteRow(buttonRow) {
            buttonRow.parent().parent().parent().remove();
            $editOveray.hide();
            $("#ret-data tr").each(function (index) {
                $(this).attr("index-val", index);
                $(this).find(".item-user-id").attr("name", "ActionUser[" + index + "].ActionUser.ID");
                $(this).find(".item-user-name").attr("name", "ActionUser[" + index + "].ActionUser.Name");
            });       
            totalText();     
        }



        $('#req-date,#req-date-event,#req-date-appointment,#req-date-goal,#req-date-action,#req-date-complete').datepicker({
            autoclose: true,
            language: 'th',
            todayBtn: true,
            orientation: "auto",
            todayHighlight: true,
            format: 'dd-mm-yyyy',
        });
        $('#req-time-event,#req-time,#req-time-appointment,#req-time-goal,#req-time-action,#req-time-complete').timepicker({
            minuteStep: 1,
            disableFocus: true,
            template: 'dropdown',
            orientation: "auto",
            showMeridian:false,
            defaultTime: 'empty'
         });  

         $('#item-user-edit').typeahead({
            ajax: '/service/tech/list/json/?entity=users',
            display: 'Name',
            displayField: 'Name',
            valueField: 'ID',
            val: 'ID',
            onSelect: function (data) {
                $('#item-user-edit-id').val(data.value);
                var index  =  $("#current-row").val();
                $('#ret-data > tr').eq(index).find(".item-user-id").val($('#item-user-edit-id').val());
                $('#ret-data > tr').eq(index).find(".item-user-name").val($('#item-user-edit').val());
                $('#ret-data > tr').eq(index).find(".item-user-text").html($('#item-user-edit').val());
                $editOveray.hide();
            }
        });

        $('#req-name').typeahead({
            ajax: '/service/user/list/json/?entity=users',
            display: 'Name',
            displayField: 'Name',
            valueField: 'ID',
            val: 'ID',
            onSelect: function (data) {
                $('#req-name').addClass('check-text');
                $('#req-name-id').val(data.value);
                if (data.value == 0) {
                    return;
                }

                $.get("/service/user/json/?query=" + data.value, function (userData) {

                    $('#req-tel').val(userData.Tel);
                    $('#req-tel').addClass('check-text');

                    $('#req-branch').val(userData.Branch.Name);
                    $('#req-branch').addClass('check-text');
                    $('#req-branch-id').val(userData.Branch.ID);

                    $('#req-depart').val(userData.Depart.Name);
                    $('#req-depart').addClass('check-text');
                    $('#req-depart-id').val(userData.Depart.ID);

                    $('#req-building').val(userData.Building.Name);
                    $('#req-building').addClass('check-text');
                    $('#req-building-id').val(userData.Building.ID);

                    $('#req-class').val(userData.Class.Name);
                    $('#req-class').addClass('check-text');
                    $('#req-class-id').val(userData.Class.ID);

                    $('#req-room').val(userData.Rooms.Name);
                    $('#req-room').addClass('check-text');
                    $('#req-room-id').val(userData.Rooms.ID);

                });
            }
        });

        $('#req-branch').typeahead({
            ajax: '/service/entity/list/json/?entity=branchs',
            display: 'Name',
            displayField: 'Name',
            valueField: 'ID',
            val: 'ID',
            onSelect: function (data) {

                $('#req-branch').addClass('check-text');
                $('#req-branch-id').val(data.value);

                $('#req-building').val('');
                $('#req-building-id').val('');
                $('#req-building').removeClass('check-text');

                $('#req-class').val('');
                $('#req-class-id').val('');
                $('#req-class').removeClass('check-text');

                $('#req-room').val('');
                $('#req-room-id').val('');
                $('#req-room').removeClass('check-text');
            }
        });

        $('#req-depart').typeahead({
            ajax: '/service/entity/list/json/?entity=departs',
            display: 'Name',
            displayField: 'Name',
            valueField: 'ID',
            val: 'ID',
            onSelect: function (data) {
                $('#req-depart').addClass('check-text');
                $('#req-depart-id').val(data.value);
            },
            parent: 'req-branch-id',
            fixurl: '/service/entity/list/p/json/?entity=departs'
        });

        $('#req-building').typeahead({
            ajax: '/service/entity/list/p/json/?entity=buildings',
            display: 'Name',
            displayField: 'Name',
            valueField: 'ID',
            val: 'ID',
            parent: $('#req-branch-id'),
            onSelect: function (data) {

                $('#req-building').addClass('check-text');
                $('#req-building-id').val(data.value);

                $('#req-class').val('');
                $('#req-class-id').val('');
                $('#req-class').removeClass('check-text');

                $('#req-room').val('');
                $('#req-room-id').val('');
                $('#req-room').removeClass('check-text');

            },
            parent: 'req-branch-id',
            fixurl: '/service/entity/list/p/json/?entity=buildings'
        });
        $('#req-class').typeahead({
            ajax: '/service/entity/list/p/json/?entity=class',
            display: 'Name',
            displayField: 'Name',
            valueField: 'ID',
            val: 'ID',
            onSelect: function (data) {

                $('#req-class').addClass('check-text');
                $('#req-class-id').val(data.value);

                $('#req-room').val('');
                $('#req-room-id').val('');
                $('#req-room').removeClass('check-text');
            },
            parent: 'req-building-id',
            fixurl: '/service/entity/list/p/json/?entity=class'
        });

        $('#req-room').typeahead({
            ajax: '/service/entity/list/p/json/?entity=rooms',
            display: 'Name',
            displayField: 'Name',
            valueField: 'ID',
            val: 'ID',
            onSelect: function (data) {
                $('#req-room').addClass('check-text');
                $('#req-room-id').val(data.value);
            },
            parent: 'req-class-id',
            fixurl: '/service/entity/list/p/json/?entity=rooms'
        });

        $('#req-sn').typeahead({
            ajax: '/service/entity/list/json/?entity=sns',
            display: 'Name',
            displayField: 'Name',
            valueField: 'ID',
            val: 'ID',
            onSelect: function (data) {
                $('#req-sn').addClass('check-text');
                $('#req-sn-id').val(data.value);
            }
        });
        $('#req-tel').keyup(function (e) {
            if ($(this).val() == "") {
                $('#req-tel').removeClass('check-text');
            } else {
                $('#req-tel').addClass('check-text');
            }
        });          
    });
    function Clear() {
        $('#req-doc-id').val('');

        $('#req-name').val('');
        $('#req-name').removeClass('check-text');
        $('#req-name-id').val('');

        $('#req-tel').val('')
        $('#req-tel').val('');
        $('#req-tel').removeClass('check-text');

        $('#req-branch').val('');
        $('#req-branch').removeClass('check-text');
        $('#req-branch-id').val('');

        $('#req-depart').val('');
        $('#req-depart').removeClass('check-text');
        $('#req-depart-id').val('');

        $('#req-building').val('');
        $('#req-building').removeClass('check-text');
        $('#req-building-id').val('');

        $('#req-class').val('');
        $('#req-class').removeClass('check-text');
        $('#req-class-id').val('');

        $('#req-room').val('');
        $('#req-room').removeClass('check-text');
        $('#req-room-id').val('');

        $('#req-sn').val('');
        $('#req-sn').removeClass('check-text');

        $('#remark').val('');
    }
    function Save() {
        hideTopAlert();
        url = $('#req-form').attr('action');
        $.post(url, $('#req-form').serialize(), function (data) {
            if (data.RetOK) {
                showTopAlert(data.RetData, "success")
                setTimeout(function () { window.location.href = '/request/list/' }, 1000);
            } else {
                showTopAlert(data.RetData, "danger")
            }
        });
    }
</script>
