<section class="content-header">
    <div id="top-alert" style="display:none">
    </div>
    <h1 id="title-content">
        {{.title}}
        {{if .data.DocNo}} 
         เลขที่ : {{.data.DocNo}}
        {{end}}
    </h1>
</section>
<section class="content">
    <form autocomplete="off" onsubmit="return false;">
        {{ .xsrfdata }}

        <input type="hidden" id="req-doc-id" name="req-doc-id" value="{{.data.ID}}">
        <input type="hidden" id="req-name-id" name="req-name-id" value="{{.data.User.ID}}">
        <input type="hidden" id="req-branch-id" name="req-branch-id" value="{{.data.Branch.ID}}">
        <input type="hidden" id="req-depart-id" name="req-depart-id" value="{{.data.Depart.ID}}">
        <input type="hidden" id="req-building-id" name="req-building-id" value="{{.data.Building.ID}}">
        <input type="hidden" id="req-class-id" name="req-class-id" value="{{.data.Class.ID}}">
        <input type="hidden" id="req-room-id" name="req-room-id" value="{{.data.Room.ID}}">

        <div id="box-req" class="box box-primary">
            <div class="box-header ui-sortable-handle">
                <h4 class="box-title  req-box-title ">รายละเอียดผู้แจ้ง</h4>
            </div>
            <div class="box-body">
                <div class="form-group req-box-form">
                    <div class="col-xs-6">
                        <label for="req-name">ชื่อผู้แจ้ง</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <input type="text" id="req-name" name="req-name" class="form-control has-query" autocomplete="off" {{.r}} placeholder="ชื่อผู้แจ้ง...."
                                value="{{.data.ReqName}}">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <label for="req-tel">โทรศัพท์</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </span>
                            <input type="text" id="req-tel" name="req-tel" class="form-control" {{.r}} placeholder="โทรศัพท์...." value="{{.data.Tel}}">
                        </div>
                    </div>
                </div>
                <div class="form-group req-box-form">
                    <div class="col-xs-6">
                        <label for="req-branch">สาขา</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-bank"></i>
                            </span>
                            <input type="text" id="req-branch" name="req-branch" class="form-control has-query" autocomplete="off" {{.r}} placeholder="สาขา...."
                                value="{{.data.Branch.Name}}">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <label for="req-depart">แผนก</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-outdent"></i>
                            </span>
                            <input type="text" id="req-depart" name="req-depart" class="form-control has-query" autocomplete="off" {{.r}} placeholder="แผนก...."
                                value="{{.data.Depart.Name}}">
                        </div>
                    </div>
                </div>
                <h4 class="req-box-title">ตำแหน่ง/ที่ตั้ง เครื่องมือ/อุปกรณ์ที่เสีย</h4>
                <div class="form-group req-box-form">
                    <div class="col-xs-6">
                        <label for="req-building">ตึก</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-building-o"></i>
                            </span>
                            <input type="text" id="req-building" name="req-building" class="form-control has-query" autocomplete="off" {{.r}} placeholder="ตึก...."
                                value="{{.data.Building.Name}}">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <label for="req-class">ชั้น</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa  fa-bars"></i>
                            </span>
                            <input type="text" id="req-class" name="req-class" class="form-control has-query" autocomplete="off" {{.r}} placeholder="ชั้น...."
                                value="{{.data.Class.Name}}">
                        </div>
                    </div>
                </div>
                <div class="form-group req-box-form">
                    <div class="col-xs-6">
                        <label for="req-room">ห้อง</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-bed"></i>
                            </span>
                            <input type="text" id="req-room" name="req-room" class="form-control has-query" autocomplete="off" {{.r}} placeholder="ห้อง...."
                                value="{{.data.Room.Name}}">
                        </div>
                    </div>
                    <div class="col-xs-6">

                    </div>
                </div>
                <h4 class="req-box-title">รายละเอียด</h4>
                <div class="form-group req-box-form">
                    <div class="col-xs-6">
                        <label for="req-date-event">วันที่แจ้ง</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-calculator"></i>
                            </span>
                            <input type="text" id="req-date" data-date-language="th" name="req-date" class="form-control" value="{{date .data.ReqDate "d-m-Y"}}" {{.r}}
                                placeholder="....">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <label for="req-sn">เอกสารอ้างอิง</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-file-o"></i>
                            </span>
                            {{if .data.DocRefNo}}
                            <input type="text" id="req-doc-ref" name="req-doc-ref" class="form-control has-query" autocomplete="off" value="{{.data.DocRefNo}}"
                                readonly placeholder="เอกสารอ้างอิง"> {{else if .reqDocRef}}
                            <input type="text" id="req-doc-ref" name="req-doc-ref" class="form-control has-query" autocomplete="off" value="{{.reqDocRef}}"
                                readonly placeholder="เอกสารอ้างอิง"> {{else}}
                            <input type="text" id="req-doc-ref" name="req-doc-ref" class="form-control has-query" autocomplete="off" value="" {{.r}}
                                placeholder="เอกสารอ้างอิง"> {{end}}
                        </div>
                    </div>
                </div>
                <div class="form-group req-box-form">
                    <div class="col-xs-6">
                        <label for="req-date-event">วันที่เสีย</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-calculator"></i>
                            </span>
                            <input type="text" id="req-date-event" data-date-language="th" name="req-date-event" class="form-control" value="{{date .data.EventDate "d-m-Y"}}"
                                {{.r}} placeholder="....">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <label for="req-sn">เลขทะเบียน/SN</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa  fa-location-arrow"></i>
                            </span>
                            <input type="text" id="req-sn" name="req-sn" class="form-control has-query" autocomplete="off" value="{{.data.SerailNumber}}"
                                {{.r}} placeholder="หมายเลขเครื่อง/เลขทะเบียน/Serial Number">
                        </div>
                    </div>
                </div>
                <div class="form-group req-box-form">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>รายละเอียดการชำรุด/ปัญหา/อาการเสีย</label>
                            <textarea class="form-control" {{.r}} id="remark" name="remark" rows="4" placeholder="รายละเอียดการชำรุด/ปัญหา/อาการเสีย">{{.data.Details}}</textarea>
                        </div>
                    </div>
                </div>
                <h4 class="req-box-title">สถานะ</h4>
                <div class="form-group req-box-form">
                    <div class="col-xs-6">
                        <table class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th style="width: 150px!important;">สถานะ</th>
                                    <th>หมายเหตุ</th>
                                    <th style="width: 140px!important;">วันที่</th>
                                    <th style="width: 140px!important;">ผู้บันทึก</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{range $key, $val := .status}}
                                <tr>
                                    <td> {{$val.Status.Name}} </td>
                                    <td> {{$val.Remark}} </td>
                                    <td> {{date $val.CreatedAt "d-m-Y H:i:s"}} </td>
                                    <td> {{$val.CreateUser.Name}} </td>
                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>