<script src="/static/js/datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/static/js/datepicker/locales/bootstrap-datepicker.th.min.js" charset="UTF-8"></script>
<script >
 $(function () {
    $('#txt-date-begin,#txt-date-end').datepicker({
        autoclose: true,
        language: 'th',
        todayBtn: true,
        orientation: "bottom auto",
        todayHighlight: true  ,
        format: 'dd-mm-yyyy',
    });
    $('#txt-date-begin').datepicker('setDate', new Date(Date.parse("{{.beginDate}}"))) ;
    $('#txt-date-end').datepicker('setDate', new Date(Date.parse("{{.endDate}}"))) ;
});
function changeStatus(id){
         hideTopAlert();
         $.get( "/request/change-status/?id=" + id  + "&reload=0", function( data ) {
            $('#small-global-modal-content').html(data.RetData);
            showGlobalSmallModal();
          });
}
function reqDetails(el){
    $("#small-details").modal("show");
    $("#small-details-content-body").html(
        `<p> <b> สาขา : </b>` + $(el).attr('branch') + `</p>` +
        `<p> <b>วันที่แจ้ง : </b>` + $(el).attr('reqdate') + `</p>` +
        `<p> <b>วันที่เสีย : </b>` + $(el).attr('eventdate') + `</p>` +
        `<p> <b> ผู้แจ้ง  : </b>` + $(el).attr('reqname') + `</p>` +
        `<p> <b>รายละเอียด/ปัญหา/อาการเสีย : </b> <br/> ` + $(el).attr('remark') + `</p>` +
        `<p> <b> สถานะ : </b> ` + $(el).attr('status') + `</p>` 
    )
}
loadNormalTable();
 </script>
