<section class="content-header">
    <div id="top-alert" style="display:none">
    </div>
    <h1 id="title-content">
        {{.title}} {{if .data.DocNo}} เลขที่ : {{.data.DocNo}} {{end}}
    </h1>
</section>
<section class="content">
    <form action="/create-request" autocomplete="off" id="req-form" onsubmit="return false;" method="post">
        {{ .xsrfdata }}

        <input type="hidden" id="req-doc-id" name="ID" value="{{.data.ID}}">
        <input type="hidden" id="req-name-id" name="User.ID" {{if .data.User.ID}} value="{{.data.User.ID}}" {{else}} value="0" {{end}}>
        <input type="hidden" id="req-branch-id" name="Branch.ID" value="{{.data.Branch.ID}}">
        <input type="hidden" id="req-depart-id" name="Depart.ID" value="{{.data.Depart.ID}}">
        <input type="hidden" id="req-building-id" name="Building.ID" value="{{.data.Building.ID}}">
        <input type="hidden" id="req-class-id" name="Class.ID" value="{{.data.Class.ID}}">
        <input type="hidden" id="req-room-id" name="Room.ID" value="{{.data.Room.ID}}">
        <input type="hidden" id="current-row" >

        <div id="box-req" class="box box-primary">
            <div class="box-body">
                    <h4 class="box-title  req-box-title ">ผู้แจ้ง/สั่งงาน <a href="javascript:void(0)" target-toggle="req" class="title-req" style="font-size:12px;">
                            <i class="fa fa-eye-slash"></i></a></h4>
                <div class="form-group req-box-form req"  style="display:none;">
                    <div class="col-xs-6">
                        <label for="req-name">ชื่อผู้แจ้ง/สั่งงาน</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <input type="text" id="req-name" name="ReqName" class="form-control has-query" autocomplete="off" {{.r}} placeholder="ชื่อผู้แจ้ง/สั่งงาน...."
                                value="{{.data.ReqName}}">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <label for="req-tel">โทรศัพท์</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </span>
                            <input type="text" id="req-tel" name="Tel" class="form-control" {{.r}} placeholder="โทรศัพท์...." value="{{.data.Tel}}">
                        </div>
                    </div>
                </div>
                <div class="form-group req-box-form req"  style="display:none;">
                    <div class="col-xs-6">
                        <label for="req-branch">สาขา</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-bank"></i>
                            </span>
                            <input type="text" id="req-branch" class="form-control has-query" autocomplete="off" {{.r}} placeholder="สาขา...." value="{{.data.Branch.Name}}">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <label for="req-depart">แผนก</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-outdent"></i>
                            </span>
                            <input type="text" id="req-depart" class="form-control has-query" autocomplete="off" {{.r}} placeholder="แผนก...." value="{{.data.Depart.Name}}">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="box-req" class="box box-primary">
                <div class="box-body">
                <h4 class="req-box-title">ตำแหน่ง/ที่ตั้ง <a href="javascript:void(0)" target-toggle="location" class="title-location" style="font-size:12px;">
                    <i class="fa fa-eye-slash"></i></a></h4>
                <div class="form-group req-box-form location"   style="display:none;">
                    <div class="col-xs-6">
                        <label for="req-building">ตึก</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-building-o"></i>
                            </span>
                            <input type="text" id="req-building" class="form-control has-query" autocomplete="off" {{.r}} placeholder="ตึก...." value="{{.data.Building.Name}}">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <label for="req-class">ชั้น</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa  fa-bars"></i>
                            </span>
                            <input type="text" id="req-class" class="form-control has-query" autocomplete="off" {{.r}} placeholder="ชั้น...." value="{{.data.Class.Name}}">
                        </div>
                    </div>
                </div>
                <div class="form-group req-box-form location"    style="display:none;">
                    <div class="col-xs-6">
                        <label for="req-room">ห้อง</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-bed"></i>
                            </span>
                            <input type="text" id="req-room" class="form-control has-query" autocomplete="off" {{.r}} placeholder="ห้อง...." value="{{.data.Room.Name}}">
                        </div>
                    </div>
                    <div class="col-xs-6">

                    </div>
                </div>
                </div>
        </div>
        <div id="box-req" class="box box-primary">
                <div class="box-body">
                <h4 class="req-box-title">รายละเอียด <a href="javascript:void(0)" target-toggle="details" class="title-details" style="font-size:12px;"><i class="fa fa-eye-slash"></i></a></h4>
                <div class="form-group req-box-form details"   style="display:none;">
                    <div class="col-xs-3">
                        <label for="req-date-event">วันที่แจ้ง/ร้องขอ</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-calculator"></i>
                            </span>
                            {{if .data.ReqDate}}
                            <input type="text" id="req-date" data-date-language="th" name="ReqDate" class="form-control" value='{{date .data.ReqDate "d-m-Y" | emptyDate}}'
                                {{.r}} placeholder="...."> {{else}}
                            <input type="text" id="req-date" data-date-language="th" name="ReqDate" class="form-control" value='{{date .current_date "d-m-Y"}}'
                                {{.r}} placeholder="...."> {{end}}
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <label for="req-date-event">เวลาที่แจ้ง/ร้องขอ</label>
                        <div class="input-group bootstrap-timepicker timepicker">
                            <span class="input-group-addon">
                                <i class="fa  fa-clock-o"></i>
                            </span>
                            {{if .data.ReqTime}}
                            <input type="text" id="req-time" name="ReqTime" class="form-control" value='{{  .data.ReqTime  }}' {{.r}} /> {{else}}
                            <input type="text" id="req-time" name="ReqTime" class="form-control" value='{{date .current_date "H:i"}}' {{.r}} /> {{end}}
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <label for="req-sn">เอกสารอ้างอิง</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-file-o"></i>
                            </span>
                            {{if .data.DocRefNo}}
                            <input type="text" id="req-doc-ref" name="DocRefNo" class="form-control has-query" autocomplete="off" value="{{.data.DocRefNo}}"
                                readonly placeholder="เอกสารอ้างอิง"> {{else if .req_doc_ref}}
                            <input type="text" id="req-doc-ref" name="DocRefNo" class="form-control has-query" autocomplete="off" value="{{.req_doc_ref}}"
                                readonly placeholder="เอกสารอ้างอิง"> {{else}}
                            <input type="text" id="req-doc-ref" name="DocRefNo" class="form-control has-query" autocomplete="off" value="" {{.r}} placeholder="เอกสารอ้างอิง"> {{end}}
                        </div>
                    </div>
                </div>
                <div class="form-group req-box-form details"   style="display:none;">
                    <div class="col-xs-3">
                        <label for="req-date-event">วันที่เสีย</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-calculator"></i>
                            </span>
                            {{if .data.EventDate}}
                            <input type="text" id="req-date-event" data-date-language="th" name="EventDate" class="form-control" value='{{date .data.EventDate "d-m-Y" | emptyDate}}'
                                {{.r}} placeholder="...."> {{else}}
                            <input type="text" id="req-date-event" data-date-language="th" name="EventDate" class="form-control" value='{{date .current_date "d-m-Y"}}'
                                {{.r}} placeholder="...."> {{end}}
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <label for="req-date-event">เวลาที่เสีย</label>
                        <div class="input-group  bootstrap-timepicker timepicker">
                            <span class="input-group-addon">
                                <i class="fa  fa-clock-o"></i>
                            </span>
                            {{if .data.EventTime}}
                            <input type="text" id="req-time-event" name="EventTime" class="form-control timepicker" value='{{  .data.EventTime  }}' {{.r}}
                                placeholder="...."> {{else}}
                            <input type="text" id="req-time-event" name="EventTime" class="form-control timepicker" value='{{date .current_date "H:i"}}'
                                {{.r}} placeholder="...."> {{end}}
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <label for="req-sn">เลขทะเบียน/SN</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa  fa-location-arrow"></i>
                            </span>
                            <input type="text" id="req-sn" name="SerailNumber" class="form-control has-query" autocomplete="off" value="{{.data.SerailNumber}}"
                                {{.r}} placeholder="หมายเลขเครื่อง/เลขทะเบียน/Serial Number">
                        </div>
                    </div>
                </div>
                <div class="form-group req-box-form details"   style="display:none;">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>รายละเอียด/ปัญหา/อาการเสีย</label>
                            <textarea class="form-control" {{.r}} id="remark" name="Details" rows="4" placeholder="รายละเอียด/ปัญหา/อาการเสีย">{{.data.Details}}</textarea>
                        </div>
                    </div>
                </div>
                </div>
        </div>
        <div id="box-req" class="box box-primary">
                <div class="box-body">
                <h4 class="req-box-title">การดำเนินการ <a href="javascript:void(0)" target-toggle="operate" class="title-operate" style="font-size:12px;">
                        <i class="fa fa-eye-slash"></i></a></h4>
                <div class="form-group req-box-form operate"   style="display:none;">
                    <div class="col-xs-3">
                        <label for="req-date-event">นัดดำเนินการ</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-calculator"></i>
                            </span>
                            {{if .data.AppointmentDate}}
                            <input type="text" id="req-date-appointment" data-date-language="th" name="AppointmentDate" class="form-control" value='{{date .data.AppointmentDate "d-m-Y" | emptyDate}}'
                                {{.r}} placeholder="...."> {{else}}
                            <input type="text" id="req-date-appointment" data-date-language="th" name="AppointmentDate" class="form-control" value=''
                                {{.r}} placeholder="...."> {{end}}
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <label for="req-date-event">เวลา</label>
                        <div class="input-group  bootstrap-timepicker timepicker">
                            <span class="input-group-addon">
                                <i class="fa  fa-clock-o"></i>
                            </span>
                            {{if .data.AppointmentTime}}
                            <input type="text" id="req-time-appointment" name="AppointmentTime" class="form-control timepicker" value='{{.data.AppointmentTime  }}'
                                {{.r}} placeholder="...."> {{else}}
                            <input type="text" id="req-time-appointment" name="AppointmentTime" class="form-control timepicker" value=''
                                {{.r}} placeholder="...."> {{end}}
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <label for="req-date-event">คาดว่าจะแล้วเสร็จ</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-calculator"></i>
                            </span>
                            {{if .data.GoalDate}}
                            <input type="text" id="req-date-goal" data-date-language="th" name="GoalDate" class="form-control" value='{{date .data.GoalDate "d-m-Y" | emptyDate}}'
                                {{.r}} placeholder="...."> {{else}}
                            <input type="text" id="req-date-goal" data-date-language="th" name="GoalDate" class="form-control" value=''
                                {{.r}} placeholder="...."> {{end}}
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <label for="req-date-event">เวลา</label>
                        <div class="input-group  bootstrap-timepicker timepicker">
                            <span class="input-group-addon">
                                <i class="fa  fa-clock-o"></i>
                            </span>
                            {{if .data.GoalTime}}
                            <input type="text" id="req-time-goal" name="GoalTime" class="form-control timepicker" value='{{  .data.GoalTime }}' {{.r}}
                                placeholder="...."> {{else}}
                            <input type="text" id="req-time-goal" name="GoalTime" class="form-control timepicker" value=''
                                {{.r}} placeholder="...."> {{end}}
                        </div>
                    </div>
                </div>
                <div class="form-group req-box-form operate"   style="display:none;">
                    <div class="col-xs-12">                        
                        <table class="table" id="ret-table">
                            <thead>
                                <tr>
                                    <th class="col-md-9 col-md-9-table" style="vertical-align: middle;">ผู้ดำเนินการ</th>
                                    <th class="col-md-3 col-md-3-table">
                                        <input type="number" id="action-number" name="ActionNumber" {{.can_change_action_number}} class="form-control col-xs-3" style="text-align:right;"
                                            placeholder="ไม่จำกัดจำนวนคน" value="{{.data.ActionNumber}}">
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="table-bordered table-condensed" id="ret-data">
                                {{if .user_len}}
                                {{range $key, $val := .data.ActionUser}}
                                        <tr  style="cursor: pointer;" index-val="{{$key}}">
                                                            <input type="hidden" class="item-user-id" name="ActionUser[{{$key}}].ActionUser.ID" value="{{$val.ActionUser.ID}}" /> 
                                                            <input type="hidden" class="item-user-name" name="ActionUser[{{$key}}].ActionUser.Name" value="{{$val.ActionUser.Name}}" />
                                                            <td class="col-md-9 table-td-mid item-user-text"> 
                                                                {{$val.ActionUser.Name}}
                                                            </td>
                                                            <td class="col-md-3 table-td-mid table-td-number"  >
                                                                <div class="btn-group">
                                                                    <a class="btn btn-danger btn-flat btn-flat btn-sm delete-row">
                                                                        <i class="fa  fa-close"></i>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                    </tr>
                                {{end}}  
                                 
                            {{end}}
                            </tbody>
                            <tfoot class="table-bordered table-condensed">
                                <tr>
                                    <th>
                                        <button type="button" class="btn btn-success add-row">เพิ่ม</button>
                                    </th>
                                    <th style="text-align:right;vertical-align: middle;" id="total"> </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>                
                <div class="form-group req-box-form operate"   style="display:none;">
                    <div class="col-xs-12" >
                        <label for="req-date-event">ประเมินมูลค่าการดำเนินการ</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-dollar"></i>
                            </span>

                            <input type="text" id="req-estimate-price" name="EstimatePrice" class="form-control" 

                            {{if .data.EstimatePrice }}
                                value='{{.data.EstimatePrice | ThCommaSep}}'
                            {{end}}

                            {{.r}}>
                        </div>
                    </div>
                </div>
                <div class="form-group req-box-form operate"   style="display:none;">
                    <div class="col-xs-3" style="margin-top:20px;" >
                        <label for="req-date-event">วันที่ดำเนินการ</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-calculator"></i>
                            </span>
                            {{if .data.ActionDate}}
                            <input type="text" id="req-date-action" data-date-language="th" name="ActionDate" class="form-control" value='{{date .data.ActionDate "d-m-Y" | emptyDate}}'
                                {{.r}} placeholder="...."> {{else}}
                            <input type="text" id="req-date-action" data-date-language="th" name="ActionDate" class="form-control" value=''
                                {{.r}} placeholder="...."> {{end}}
                        </div>
                    </div>
                    <div class="col-xs-3" style="margin-top:20px;">
                        <label for="req-date-event">เวลาดำเนินการ</label>
                        <div class="input-group  bootstrap-timepicker timepicker">
                            <span class="input-group-addon">
                                <i class="fa  fa-clock-o"></i>
                            </span>
                            {{if .data.ActionTime}}
                            <input type="text" id="req-time-action" name="ActionTime" class="form-control timepicker" value='{{.data.ActionTime}}' {{.r}}
                                placeholder="...."> {{else}}
                            <input type="text" id="req-time-action" name="ActionTime" class="form-control timepicker" value=''
                                {{.r}} placeholder="...."> {{end}}
                        </div>
                    </div>
                    <div class="col-xs-3" style="margin-top:20px;">
                        <label for="req-date-event">วันที่ดำเนินการเสร็จ</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-calculator"></i>
                            </span>
                            {{if .data.CompleteDate}}
                            <input type="text" id="req-date-complete" data-date-language="th" name="CompleteDate" class="form-control" value='{{date .data.CompleteDate "d-m-Y" | emptyDate}}'
                                {{.r}} placeholder="...."> {{else}}
                            <input type="text" id="req-date-complete" data-date-language="th" name="CompleteDate" class="form-control" value=''
                                {{.r}} placeholder="...."> {{end}}
                        </div>
                    </div>
                    <div class="col-xs-3" style="margin-top:20px;">
                        <label for="req-date-event">เวลาดำเนินการเสร็จ</label>
                        <div class="input-group  bootstrap-timepicker timepicker">
                            <span class="input-group-addon">
                                <i class="fa  fa-clock-o"></i>
                            </span>
                            {{if .data.CompleteTime}}
                            <input type="text" id="req-time-goal" name="CompleteTime" class="form-control timepicker" value='{{  .data.CompleteTime }}'
                                {{.r}} placeholder="...."> {{else}}
                            <input type="text" id="req-time-goal" name="CompleteTime" class="form-control timepicker" value=''
                                {{.r}} placeholder="...."> {{end}}
                        </div>
                    </div>
                </div>              
            </div>
            <br>
        </div>
         {{if.data.DocNo}}
        <div id="box-req" class="box box-primary">
            <div class="box-body">
        
                <h4 class="req-box-title">เบิกวัสดุ/อุปกรณ์
                    <a href="javascript:void(0)" target-toggle="mm" class="title-mm" style="font-size:12px;">
                        <i class="fa fa-eye-slash"></i>
                    </a>
                </h4>
                <div class="form-group req-box-form mm" style="display:none;">
                    <div class="col-xs-12">
                        <table class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-md-3-table">เลขที่</th>
                                    <th class="col-md-3-table">วันที่</th>
                                    <th class="col-md-3-table" style="width: 340px!important;text-align:right;">มูลค่า</th>
                                    <th class="col-md-3-table">ผู้บันทึก</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{if .doc_ref}} {{range $key, $val := .doc_ref}}
                                <tr>
                                    <td> <a href="/pickup/?id={{$val.ID}}" target="_blank"> {{$val.DocNo}} </a> </td>
                                    <td> {{date $val.DocDate "d-m-Y H:i:s"}} </td>
                                    <td style="width: 340px!important;text-align:right;"> {{$val.TotalAmount | ThCommaSep}} </td>
                                    <td> {{$val.Name}} </td>
                                </tr>
                                {{end}}
                                <tr>
                                    <td colspan="4">
                                        <a href="/pickup/?doc_ref={{.data.DocNo}}" target="_blank" class="btn btn-success ">เบิกวัสดุอุปกรณ์</a>
                                        <a href="javascript:void(0)" class="btn btn-default " onclick="window.location.reload()" >โหลดข้อมูลใหม่ *กรุณาบันทึกข้อมูลอื่นๆให้เสร็จสิ้น</a>
                                    </td>
                                </tr>
                                {{else}}
                                <tr>
                                    <td colspan="4"> </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <a href="/pickup/?doc_ref={{.data.DocNo}}" target="_blank" class="btn btn-success ">เบิกวัสดุอุปกรณ์</a>
                                        <a href="javascript:void(0)" class="btn btn-default " onclick="window.location.reload()" >โหลดข้อมูลใหม่ *กรุณาบันทึกข้อมูลอื่นๆให้เสร็จสิ้น</a>
                                    </td>
                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
        
            </div>
        </div>
        {{end}}
        <div id="box-req" class="box box-primary">
            <div class="box-body">
                <h4 class="req-box-title">สถานะการดำเนินการ
                    <a href="javascript:void(0)" target-toggle="status" class="title-status" style="font-size:12px;">
                        <i class="fa fa-eye-slash"></i>
                    </a>
                </h4>
                <div class="form-group req-box-form status" style="display:none;">
                    <div class="col-xs-12">
                        <table class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-md-3-table">สถานะ</th>
                                    <th class="col-md-3-table">หมายเหตุ</th>
                                    <th class="col-md-3-table" style="width: 140px!important;">วันที่</th>
                                    <th class="col-md-3-table" style="width: 200px!important;">ผู้บันทึก</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{range $key, $val := .status}}
                                <tr>
                                    <td> {{$val.Status.Name}} </td>
                                    <td> {{$val.Remark}} </td>
                                    <td> {{date $val.CreatedAt "d-m-Y H:i:s"}} </td>
                                    <td> {{$val.CreateUser.Name}} </td>
                                </tr>
                                {{end}}
                                <tr>
                                        <td colspan="4">
                                            <a href="javascript:void(0)" onclick="changeStatus('{{.data.ID}}')" target="_blank" class="btn btn-success ">เปลี่ยนสถานะ</a>
                                            <a href="javascript:void(0)" class="btn btn-default " onclick="window.location.reload()" >โหลดข้อมูลใหม่ *กรุณาบันทึกข้อมูลอื่นๆให้เสร็จสิ้น</a>
                                        </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="box-req" class="box box-primary">
                <div class="box-body">
                <h4 class="req-box-title">ค่าใช้จ่ายในการดำเนินการ <a href="javascript:void(0)" target-toggle="expend" class="title-expend" style="font-size:12px;">
                        <i class="fa fa-eye-slash"></i></a></h4>
                <div class="form-group req-box-form expend" style="display:none;">
                    <div class="col-xs-3" style="margin-top:20px;">
                        <label for="req-date-event">ค่าใช้จ่ายอื่นๆ</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-dollar"></i>
                            </span>
                            <input type="text" id="req-other-price" name="OtherPrice" class="form-control" {{if .data.OtherPrice }} value='{{.data.OtherPrice  | ThCommaSep}}'
                                {{end}}>
                        </div>
                    </div>
                    <div class="col-xs-9" style="margin-top:20px;">
                        <label for="req-date-event">หมายเหตุ</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-file-text-o"></i>
                            </span>
                            <input type="text" id="req-remark" name="Remark" class="form-control" value='{{.data.Remark }}'>
                        </div>
                    </div>
                
                </div>
                <div class="form-group req-box-form expend"   style="display:none;">
                    <div class="col-xs-4" style="margin-top:20px;">
                        <label for="req-date-event">ค่าแรงรวม</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-dollar"></i>
                            </span>
                            <input type="text" class="form-control" readonly 
                            {{if .data.TotalWork }}
                                value='{{.data.TotalWork | ThCommaSep}}'
                            {{end}}
                            >
                        </div>
                    </div>
                    <div class="col-xs-4" style="margin-top:20px;">
                        <label for="req-date-event">วัสดุ/อะไหล่</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-dollar"></i>
                            </span>
                            <input type="text" class="form-control" readonly 
                            {{if .data.TotalMaterial }}
                                value='{{.data.TotalMaterial | ThCommaSep}}'
                            {{end}}
                            >
                        </div>
                    </div>
                    <div class="col-xs-4" style="margin-top:20px;">
                        <label for="req-date-event">รวมค่าใช้จ่ายทั้งหมด</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-dollar"></i>
                            </span>
                            <input type="text" class="form-control" readonly 
                            {{if .data.TotalAmount }}
                                value='{{.data.TotalAmount  | ThCommaSep}}'
                            {{end}} >
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                {{if .r}}
                <a href="/request/list"  class="btn btn-default pull-right">ย้อนกลับ</a>
                {{else}}
                <button type="submit" onclick="Save()" class="btn btn-primary pull-right">บันทึก</button>
                <button type="submit" onclick="SaveContinue()" class="btn btn-success pull-right" style="margin-right:3px;">บันทึกและทำงานต่อ</button>
                <a href="/request/list"  class="btn btn-default pull-right" style="margin-right:3px;">ยกเลิก</a>
                {{end}}
            </div>
        </div>
       
        <div class="col-xs-11" id="editOveray"  style="">
            <div class="col-md-8">
                <input type="text" id="item-user-edit" name="item-user-edit" class="form-control has-query" autocomplete="off" placeholder="ผู้ดำเนินการ">
                <input type="hidden" id="item-user-edit-id" name="item-user-edit-id" class="form-control" autocomplete="off">
            </div>
            <div class="col-md-4">
                <div class="input-group ">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-success ok-edit-row">ตกลง</button>
                        <button type="button" class="btn btn-default cancel-edit-row">ยกเลิก</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
</section>